.btnAi {
  background-color: #5de471;
  border: 2 solid gray;
  border-radius: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: antiquewhite;
}

h1 {
  font-size: 3rem;
  margin-bottom: 150px;
}

header {
  padding-bottom: 30px;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
}
